.one{
			background-color:#E0E0E0;
			width: 60%;
			height:650px; 
			padding:20px;
			position: relative;
		}
		.two{
			width: 160px;
			height: 100px;
			background-color:#FFFFFF;
			position: absolute;
			padding:20px;
			text-align:left;
		}
		.two .three img{
			width: 80px;
			height: 80px;
			float: left;
		}
		.two p{
			float:left;
			margin-top: -84px;
			margin-left: 90px;
		}
		.five{
			width: 400px;
			height: 600px;
			float: left;
			margin-left:220px; 
			background-color: #ffffff;
			position: relative;
		}
		a1{
			font-size: 25px;
			color: #FF95CA;
			margin-left: 50px;
		}
		a2{
			font-size: 20px;
			margin-left: 300px;
		}
		a3{
			font-size: 15px;
			color:#B3D9D9; 
			margin-left: 20px;
		}
		a4{
			font-size: 15px;
			color: #C7C7E2;
			font-family: "ºÚÌå";
			margin-left: 20px;
		}
		a5{
			font-size: 15px;
			text-align: center;
			color: #000000;
			margin-left: 30px;
		}
		.six{
			width: 300px;
			height: 200px;
			background-color: #E6E6F2;
			position: relative;
			margin-left: 40px;
			margin-top: 20px;
		}
		.six img{
			width: 200px;
			height: 160px;
			margin-left: 20px;
			margin-top: 20px;
		}
		.seven{
			width: 200px;
			height: 645px;
			float: left;
			margin-left:20px; 
			background-color: #ffffff;
			position: relative;
		}
		.eight{
			width: 150px;
			height: 150px;
			background-color: #F1E1FF;
			margin-left: 20px;
			margin-top: 10px;
		}
		.eight img{
			width: 100px;
			height: 100px;
			position: relative;
			margin-left: 25px;
			margin-top: 15px;
		}